.nav {
    font-size: 1.1em;
    font-weight: 600;
}

a:hover {
    text-decoration: none !important
}

.display-3 {
    font-size: 7vh;
}

span.line {
  display: inline-block;
}

li {
    padding: 5px;
}

.carousel-inner {
    border-radius: 10px;
}