<div class="container">
    <div class="row mt-4">
        <div class="col p-4">
            <h1>Hello World</h1>
            <h4>My name is <b>Justin Mathieu</b></h4>
        </div>
        <div class="col text-center">
            <div class="m-2">
                <div>
                    <img class="img-thumbnail rounded" src="https://avatars2.githubusercontent.com/u/8195623?s=460&v=4" width="200">
                </div>
                <div class="p-1">
                    <small><b>fig 1.</b> me</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col p-4">

        </div>
        <div class="col text-center">

        </div>
    </div>
</div>