/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto');

@import url("assets/css/bootstrap4-hello-world.min.css");

html, body {
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
}